@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    background-color: #0d0d0d;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
}
html {
    overflow: hidden; /* hides overflow on mobile */ 
    min-height: 100vh;
}
#optionsBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
#optionsBtn:hover {
    text-shadow: 0 0 0px #FFFFFF, 0 0 3px #FFFFFF, 0 0 6px #FFFFFF, 0 0 9px #FFFFFF, 0 0 12px #FFFFFF, 0 0 15px #FFFFFF, 0 0 18px #FFFFFF;
    color: black;
}
#title {
    font-size: 50px;
    color: black;
    text-align: center;
    position: absolute;
    padding-bottom: 500px;
    top: 100px;          
    text-shadow: 0 0 0px #FFFFFF, 0 0 3px #FFFFFF, 0 0 6px #FFFFFF, 0 0 9px #FFFFFF, 0 0 12px #FFFFFF, 0 0 15px #FFFFFF, 0 0 18px #FFFFFF;
}
div.keyboard {
    display: flex;
    position: absolute;
    bottom: 200px;
    opacity: 0.9;
    z-index: 3;
}
div.white {
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    width: 60px;
    height: 240px;
    border: 1px solid white;
    background-color: black;
    box-shadow: 0 0 0px #FFFFFF, 0 0 1px #FFFFFF, 0 0 2px #FFFFFF, 0 0 3px #FFFFFF, 0 0 4px #FFFFFF, 0 0 5px #FFFFFF, 0 0 6px #FFFFFF;
}
div.white.active {
    box-shadow: none;
    color: black;
}
div.black {
    border-radius: 10px;
    cursor: pointer;
    width: 30px;
    height: 130px;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 1;
    background-color: black;
    border: 1px solid white;
    box-shadow: 0 0 0px #FFFFFF, 0 0 1px #FFFFFF, 0 0 3px #FFFFFF, 0 0 5px #FFFFFF, 0 0 7px #FFFFFF, 0 0 9px #FFFFFF, 0 0 11px #FFFFFF;
}
div.black.active {
    box-shadow: none;
}
span.label-letter-white{
    color: #fff89e;
    position: relative;
    top: 200px;
    left: 23px;
}
span.label-letter-black{
    color: #fff89e;
    position: relative;
    top: 90px;
    left: 10px;
    font-size: 12px;
}
div.squares {
    position: relative;
    bottom: 460px;
    z-index: 0;
}
div.square{
    width: 1rem;
    height: 1rem;
}
div.square1, div.square7 {
    background-color: green;
    box-shadow: 0 0 0px lightgreen, 0 0 3px lightgreen, 0 0 6px lightgreen, 0 0 9px lightgreen, 0 0 12px lightgreen, 0 0 15px lightgreen, 0 0 18px lightgreen;
}

div.square2, div.square9 {
    background-color: purple;
    box-shadow: 0 0 0px plum, 0 0 3px plum, 0 0 6px plum, 0 0 9px plum, 0 0 12px plum, 0 0 15px plum, 0 0 18px plum;
}
div.square3 {
    background-color: blue;
    box-shadow: 0 0 0px lightblue, 0 0 3px lightblue, 0 0 6px lightblue, 0 0 9px lightblue, 0 0 12px lightblue, 0 0 15px lightblue, 0 0 18px lightblue;
}
div.square4, div.square8 {
    background-color: orange;
    box-shadow: 0 0 0px #ffff4d, 0 0 3px #ffff4d, 0 0 6px #ffff4d, 0 0 9px #ffff4d, 0 0 12px #ffff4d, 0 0 15px #ffff4d, 0 0 18px #ffff4d;
}
div.square5 {
    background-color: red;
    box-shadow: 0 0 0px #FFB7B7, 0 0 3px #FFB7B7, 0 0 6px #FFB7B7, 0 0 9px #FFB7B7, 0 0 12px #FFB7B7, 0 0 15px #FFB7B7, 0 0 18px #FFB7B7;
}
div.square6 {
    background-color: #cc5490;
    box-shadow: 0 0 0px #FFB7B7, 0 0 3px #FFB7B7, 0 0 6px #FFB7B7, 0 0 9px #FFB7B7, 0 0 12px #FFB7B7, 0 0 15px #FFB7B7, 0 0 18px #FFB7B7;
}

#displayCount{
    position: absolute;
    bottom: 100px;
    left: 30px;
    color: black;
    text-shadow: 0 0 0px #FFFFFF, 0 0 3px #FFFFFF, 0 0 6px #FFFFFF, 0 0 9px #FFFFFF, 0 0 12px #FFFFFF, 0 0 15px #FFFFFF, 0 0 18px #FFFFFF;
    font-size: 40px;
}

/*
OPTIONS MODAL 
*/
#optionsModal {
    position: fixed;
    z-index: 4; 
    width: 100%; 
    height: 100%; 
    opacity: 0;
    top: -100%;
    transition: top 1s, opacity 1s;  
}  
#optionsModal.show {
    top: 0;
    opacity: 1;  
}   
/* Modal Content */
.optionsModalContent {
    background-color: #0d0d0d;
    width: 100%; 
    height: 100%; 
    color: black;
    text-shadow: 0 0 0px #FFFFFF, 0 0 1px #FFFFFF, 0 0 2px #FFFFFF, 0 0 3px #FFFFFF, 0 0 4px #FFFFFF, 0 0 5px #FFFFFF, 0 0 6px #FFFFFF;
} 
h1.square-color{
    padding-top: 150px;
} 
h1.github {
    padding-bottom: 20px;
    color: black;
    text-shadow: 0 0 0px #FFFFFF, 0 0 1px #FFFFFF, 0 0 2px #FFFFFF, 0 0 3px #FFFFFF, 0 0 4px #FFFFFF, 0 0 5px #FFFFFF, 0 0 6px #FFFFFF;
}
img.github:hover {
    border-radius: 30px;
    box-shadow: 0 0 0px #FFFFFF, 0 0 1px #FFFFFF, 0 0 3px #FFFFFF, 0 0 5px #FFFFFF, 0 0 7px #FFFFFF, 0 0 9px #FFFFFF, 0 0 11px #FFFFFF;
}

/* The Close Button */
span.closeOptionsModal {
    color: white;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    float: right;
    position: relative;
    right:50px;
    top:50px; 
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;  
    text-shadow: none;
}
span.closeOptionsModal:hover {
    color: black;
    text-shadow: 0 0 0px #FFFFFF, 0 0 1px #FFFFFF, 0 0 4px #FFFFFF, 0 0 7px #FFFFFF, 0 0 10px #FFFFFF, 0 0 13px #FFFFFF, 0 0 16px #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    display: block;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
div.color-buttons{
    margin-right: 6px;
}
button.settings-button{
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background-color: transparent;
    color: gray;
    border: 2px solid gray;
}
button.settings-button:hover{
    opacity: 0.6;
}
button.settings-button:focus {
    outline:0;
}
#blueBtn.blueBtnSelected {
    color: blue;
    border: 2px solid blue;
}
#yellowBtn.yellowBtnSelected {
    color: yellow;
    border: 2px solid yellow;
}
#redBtn.redBtnSelected {
    color: red;
    border: 2px solid red;
}
#pinkBtn.pinkBtnSelected {
    color: pink;
    border: 2px solid pink;
}
#resetCounterBtn:focus{
    color: white;
    border: 2px solid white;
}
#hideCounterBtn.hideCounterBtnSelected{
    color: white;
    border: 2px solid white;
}
#showCounterBtn.showCounterBtnSelected{
    color: white;
    border: 2px solid white;
}

/* phones */
@media only screen and (max-width: 480px) {
    #aboutBtn{
        font-size: 20px;
        padding-right: 25px;
    }
    #title {
        font-size: 35px;
    }
    div.keyboard{
        bottom: 300px;
    }
    div.white {
        width: 40px;
        height: 160px;
    }
    div.black {
        width: 20px;
        height: 90px;
    }
    span.label-letter-white{
        visibility: hidden;
    }
    span.label-letter-black{
        visibility: hidden;
    }
    h1.square-color, h1.reset-counter, h1.github{
        font-size: 20px;
    }
    div.squares{
        bottom: 500px;
    }   
    button.settings-button{
        border: 1px solid gray;
    }
}


